:root {
   --primary: #747272;
   --second: #994d1c;
   --color-text: #fffafa;
}

body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   height: 5000px;
}

.myNavbar .navbar-brand {
   font-family: 'Comfortaa';
   color: #000;
   font-size: 25px;
   letter-spacing: 4px;
}

.myNavbar .navbar-nav a {
   font-size: 15px;
   text-transform: uppercase;
   font-weight: 400;
}

.myNavbar .navbar-brand:focus,
.myNavbar .navbar-brand:hover {
   color: #000;
}

.myNavbar .navbar-nav .nav-link {
   color: #000;
}

.home {
   padding: 55px 0;
}

.home img {
   height: 200%;
}

.home .carousel-item {
   height: 100vh;
   min-height: 300px;
}

.home .carousel-caption {
   bottom: 280px;
   z-index: 999;
}

.home .carousel-caption h5 {
   font-family: 'viga';
   font-size: 45px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 25px;
}

.home .carousel-caption p {
   width: 60%;
   margin: auto;
   font-size: 18px;
   line-height: 1.9;
}

/* membuat gambar jadi gelap */
.home .carousel-inner::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.w-100 {
   height: 100vh;
}

.about,
.gallery,
.services {
   padding: 10rem 0;
}

.about h2,
.services h2,
.contact h2 {
   font-size: 2.2rem;
}

.about .aboutUs p,
.services .services-judul p,
.contact .contact-judul {
   font-family: 'Comfortaa';
   letter-spacing: 0.5rem;
}

.about .about-text p {
   font-family: 'caveat';
   font-size: 1.5rem;
}

.gallery {
   background-color: var(--primary);
}

.gallery .caption-gallery {
   text-align: center;
   padding: 0 70px;
}

.gallery .title-gallery span {
   color: var(--color-text);
   font-family: 'Comfortaa';
   font-size: 1.5rem;
   font-weight: bold;
}

.gallery .title-gallery {
   color: var(--color-text);
   font-size: 1.5rem;
   font-family: 'caveat';
}

.gallery h2 {
   color: var(--color-text);
   font-size: 2.2rem;
}

.gallery .gallery-judul p {
   font-family: 'Comfortaa';
   letter-spacing: 0.5rem;
   color: var(--color-text);
}

.gallery .swiper-wrapper .img_box {
   max-width: 100%;
}

.gallery .card_slider {
   padding: 50px 0;
}

.services .card-services .bronze-img {
   width: 100%;
}

.services .card-services .gold-img {
   width: 90%;
}

.services .card-services .diamond-img {
   width: 80%;
}

.services .card-services .circle-icon {
   width: 50px;
   height: 50px;
   background-color: #fff;
   border-radius: 50%;
}

.services .card-services h3 {
   padding-top: 13px;
   font-size: 1.3rem;
   color: var(--color-text);
   font-family: 'viga';
   text-align: center;
}

.services .card-services p {
   font-family: 'viga';
   text-align: center;
}

.services .card-services button {
   color: var(--color-text);
   font-family: 'Comfortaa';
   font-weight: bold;
}

.services .bronze {
   color: var(--second);
   font-weight: bold;
   font-size: 1.5rem;
}

.services .gold {
   color: goldenrod;
   font-size: 1.5rem;
}

.services .diamond {
   color: #67c6e3;
   font-size: 1.5rem;
}

.services .card-services .btn-bronze {
   background-color: var(--second);
   font-size: 1.2rem;
}

.services .card-services .btn-gold {
   background-color: goldenrod;
   font-size: 1.2rem;
}

.services .card-services .btn-diamond {
   background-color: #67c6e3;
   font-size: 1.2rem;
}

.services .card-services {
   width: 100%;
   height: 250px;
   border-radius: 5px;
   background: linear-gradient(160deg, #bebcbc, #1b1b1b);
   padding: 30px 20px;
   box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
}

/* .services .card-services:hover {
   box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.5);
   transform: scale(1.02);
} */

.services .card-services a {
   padding: 20px 7px;
}

.services .card-services .price {
   text-decoration: none;
   font-weight: bold;
   font-family: 'Comfortaa';
   color: var(--color-text);
   font-size: 1rem;
}

.services .card {
   width: 80%;
   height: 250px;
   border-radius: 5px;
   padding: 35px 20px;
   box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
   margin: 0 auto;
}

.services .card h3 {
   padding-top: 13px;
   font-size: 1.2rem;
   color: #000;
   font-family: 'viga';
   text-align: center;
}

.services .card p {
   font-family: 'viga';
   color: #000;
   text-align: center;
   font-size: 1.5rem;
}

.services .card .btn-primary {
   text-decoration: none;
   font-family: 'Comfortaa';
   color: #fff;
   width: 100%;
}

.services .ep-card {
   height: 23rem;
}

.contact {
   background-image: url(img/Engagement-Package.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: var(--color-text);
}

.contact .overlay {
   background: rgba(0, 0, 0, 0.6);
}

.contact .container {
   padding: 148px 0 148px 0;
}

.contact .card-contact {
   color: #000;
}

.contact h3 {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 40px;
   line-height: 60px;
}

.contact .kontak h6 {
   font-weight: 600;
   font-size: 18px;
   line-height: 27px;
}

.contact .kontak a {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
   text-decoration: none;
   color: var(--color-text);
}

.contact .konsultasi {
   margin-top: 80px;
}

.contact .card-contact {
   width: 100%;
   height: 550px;
   background-color: #fff;
   border-radius: 10px;
   padding: 25px 48px;
}

.contact .card-contact .tanya {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 40px;
   line-height: 60px;
   color: var(--second);
   text-align: center;
}

.contact .form-control {
   background: #c4c4c4;
   height: 75px !important;
   border-radius: 0;
}

.contact .form-floating label {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 18px;
   color: #717171;
}

.contact .btn-kontak {
   width: 100%;
   height: 50px;
   background: var(--second);
   border: none;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 36px;
   color: var(--color-text);
}

footer {
   background: #242323;
   color: var(--color-text);
}

.footer-content .list li,
.footer-content .content li {
   text-align: center;
   list-style: none;
}

.footer-content .list a,
.footer-content .content a {
   color: var(--color-text);
   text-decoration: none;
}

.footer-content .list {
   margin-left: -25px;
}

.created {
   background-color: var(--second);
   color: var(--color-text);
   text-align: center;
   padding: 7px;
   font-size: 1.1rem;
}

.created a {
   text-decoration: none;
   color: var(--color-text);
   font-weight: bold;
}

/* === Responsive === */

/* Laptop */
@media (max-width: 992px) {
   .home img {
      height: 100%;
   }

   .home .carousel-caption {
      bottom: 520px;
   }

   .home .carousel-caption p {
      width: 100%;
      font-size: 1.5rem;
      letter-spacing: 2px;
   }
}

/* Tablet */
@media (max-width: 768px) {
   .myNavbar .navbar-nav {
      text-align: center;
   }

   .home img {
      width: 100%;
      height: 100%;
   }

   .home .carousel-caption {
      bottom: 200px;
   }

   .home .carousel-caption h5 {
      font-size: 17px;
   }

   .home .carousel-caption p {
      width: 100%;
      line-height: 1.6;
      font-size: 2rem;
      letter-spacing: 1.5px;
   }

   .about h2,
   .gallery h2 {
      font-size: 2.2rem;
   }

   .about .about-text h3 {
      font-size: 1.5rem;
   }

   .services .card-services button {
      font-size: 0.7rem;
   }

   .contact .card-contact .tanya {
      font-size: 25px;
   }

   .created {
      font-size: 0.9rem;
   }
}

/* Handphone */
@media (max-width: 576px) {
   .myNavbar .navbar-brand {
      font-size: 1.2rem;
   }

   .home .carousel-caption {
      bottom: 350px;
   }
   .home .carousel-caption h5 {
      font-size: 1.3rem;
   }

   .home .carousel-caption p {
      font-size: 0.7rem;
   }

   .home img {
      height: 90%;
   }

   .home .carousel-inner::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 90%;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
   }

   .about .aboutUs p,
   .gallery .gallery-judul p {
      letter-spacing: 0.4rem;
      font-size: 0.8rem;
   }

   .contact .card-contact {
      margin-top: 60px;
      padding: 20px 20px;
      height: 550px;
   }

   .contact .card-contact .tanya {
      font-size: 25px;
   }

   .contact h3 {
      font-size: 30px;
   }

   .footer-content .quick {
      margin: 50px 0;
   }

   .created {
      font-size: 0.7rem;
   }
}
