:root {
   --primary: #757171;
   --second: #994d1c;
}

body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   height: 2000px;
}

.myNavbar .navbar-brand {
   font-family: 'Comfortaa';
   color: #000;
   font-size: 25px;
   letter-spacing: 4px;
}

.myNavbar .navbar-nav a {
   font-size: 15px;
   text-transform: uppercase;
   font-weight: 400;
}

.myNavbar .navbar-brand:focus,
.myNavbar .navbar-brand:hover {
   color: #000;
}

.myNavbar .navbar-nav .nav-link {
   color: #000;
}

.home {
   padding: 55px 0;
}

.home img {
   height: 200%;
}

.home .carousel-item {
   height: 100vh;
   min-height: 300px;
}

.home .carousel-caption {
   bottom: 280px;
   z-index: 999;
}

.home .carousel-caption h5 {
   font-family: 'viga';
   font-size: 45px;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 25px;
}

.home .carousel-caption p {
   width: 60%;
   margin: auto;
   font-size: 18px;
   line-height: 1.9;
}

/* membuat gambar jadi gelap */
.home .carousel-inner::before {
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.5);
   z-index: 1;
}

.w-100 {
   height: 100vh;
}

/* === Responsive === */

/* Laptop */
@media (max-width: 992px) {
   .home img {
      height: 100%;
   }

   .home .carousel-caption {
      bottom: 520px;
   }

   .home .carousel-caption p {
      width: 100%;
      font-size: 1.5rem;
      letter-spacing: 2px;
   }
}

/* Tablet */
@media (max-width: 768px) {
   .myNavbar .navbar-nav {
      text-align: center;
   }

   .home img {
      width: 100%;
      height: 100%;
   }

   .home .carousel-caption {
      bottom: 200px;
   }

   .home .carousel-caption h5 {
      font-size: 17px;
   }

   .home .carousel-caption p {
      width: 100%;
      line-height: 1.6;
      font-size: 2rem;
      letter-spacing: 1.5px;
   }
}

/* Handphone */
@media (max-width: 576px) {
   .myNavbar .navbar-brand {
      font-size: 1.2rem;
   }

   .home .carousel-caption {
      bottom: 290px;
   }
   .home .carousel-caption h5 {
      font-size: 1.3rem;
   }

   .home .carousel-caption p {
      font-size: 0.7rem;
   }
}
